
  <h4 class="title" css-truncate>
    {{indexPattern.id}}
  </h4>

  <!--tab -->
  <ul class="nav nav-tabs">
    <li class="kbn-management-tab" ng-class="{ active: state.tab === editSection.index }" ng-repeat="editSection in editSections"  data-test-subj="li-{{ editSection.index }}">
      <a ng-click="changeTab(editSection)" data-test-subj="tab-{{ editSection.index }}" >
        {{ editSection.title }}
        <small>({{ editSection.count }})</small>
      </a>
    </li>
  </ul>

  <!-- tabs -->
  <indexed-fields
    ng-show="state.tab == 'indexedFields'"
    class="fields indexed-fields"
  ></indexed-fields>
  <scripted-fields
    ng-show="state.tab == 'scriptedFields'"
    class="fields scripted-fields"
  ></scripted-fields>
  <source-filters
    ng-show="state.tab == 'sourceFilters'"
    index-pattern="indexPattern"
    class="fields source-filters"
  ></source-filters>

